__pycache__/
archive/
data/
google_drive_folders/
google_sheets/
logs/
reports/
.env
.env*
*.env
!template*.env
service_account_credentials.json
oauth.json
mycreds.txt
snowflake_creds.json
token.json
*.p8
*.pub
*creds*.json
*/token.json
desktop.ini
sheets.googleapis.com-python.json
looker.ini
.imap_auth
# Ignore everything in the triggers/ directory except for crontab_extraction.txt and crontab_extractor.sh
triggers/*
!triggers/crontab_extraction*
!triggers/crontab_extractor.sh
!triggers/README.md
done_message_ids.txt
gmail_oauth*.json
gmail_token*.json
.mypy_cache/
*.egg-info/
.venv
